<div class="page_container">
    <div class="wrap">
        <div class="container">
            <section>
                <h2 class="text-center text-uppercase">@Model.SettingType</h2>
                <div class="post_info">
                    <div class="text-center">
                        @Model.ShortDescription
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row pad5">
                    <div class="span8">
                        <div class="post col-md-12">
                            <img src="@Model.ImageUrl" />
                            <p class="text-justify post_info pad15">@Model.Explanation</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

