<div class="wrap">
    <div class="container">
        <section>
            <div class="row box-shadow">
                <div class="col-md-8">
                    <h4 class="text-center text-uppercase">Thank you for the feedback!</h4>
                </div>
            </div>
        </section>
    </div>
</div>