<div id="help_manual_vs_priority" class="help_popup">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" alt="Close" /></a>
        <h2>Advanced Photo Modes</h2>
        <p>Your Canon has three modes that let you decide how much control you have over your settings.</p>
        <p><strong>Manual Mode</strong>:&nbsp;In this mode you have full control over the settings on your camera. Remember to use the camera's light meter to check that your exposure is balanced.</p>
        <p><strong>Shutter Priority Mode (Tv)</strong>:&nbsp;Perfect for when shooting motion. This mode allows you to control your shutter speed while the camera automatically sets the aperture, so you can concentrate on capturing the action!</p>
        <p><strong>Aperture Priority Mode (Av)</strong>:&nbsp;In this mode you control the aperture value, while the camera automatically sets the shutter speed. This mode is perfect for when you need to concentrate on how much of your scene is in focus.</p>
        <p><a class="btn_find_it" href="#"><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/play/btn_find_feature_on_camera.png" alt="Find this feature on your Canon EOS Rebel T4i" width="456" height="123" /></a></p>
    </div>
    <div class="help_popup_bottom"></div>
</div>

<div id="help_aperture" class="help_popup">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" alt="Close" /></a>
        <h2>Aperture</h2>
        <p>The lowest Aperture setting gives you the largest lens opening and the shortest area of focus (depth of field). As you increase the Aperture the lens opening becomes smaller and depth of field becomes bigger.</p>
    </div>
    <div class="help_popup_bottom"></div>
</div>

<div id="help_shutter_speed" class="help_popup">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" alt="Close" /></a>
        <h2>Shutter Speed</h2>
        <p>The lowest shutter setting will keep your shutter open the longest amount of time (1 sec), letting in lots of light and showing motion in your photo. As you increase this setting, your shutter speed becomes faster, the less light you are capturing and motion appears frozen in a moment of time.</p>
    </div>
    <div class="help_popup_bottom"></div>
</div>

<div id="help_iso" class="help_popup">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" /></a>
        <h2>ISO</h2>
        <p>A low ISO value (at the left side of your scale) gives low sensitivty in your image sensor. A low setting works in an environment where there is lots of light. As you increase the ISO, the sensor becomes more sensitive and will therefore need less light to get a good exposure. But remember, the higher your ISO, the more digital noise you will capture in your photo.</p>
    </div>
    <div class="help_popup_bottom"></div>
</div>

<div id="help_exposure_meter" class="help_popup">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" alt="Close" /></a>
        <h2>Exposure Meter</h2>
        <p>Watch the Exposure Meter - Ideally you want the Exposure Meter to be around zero (0) for a photo that has the proper exposure. The Exposure Meter will change as you adjust the Aperture, Shutter Speed and ISO settings, because each of these effects the amount of light in your photo.</p>
    </div>
    <div class="help_popup_bottom"></div>
</div>

<div id="help_manual_mode" class="help_popup help_popup_wide">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" alt="Close" /></a>
        <h2>Manual Mode</h2>
        <p>While Automatic modes get you beautiful results these three Creative Zone modes allow you to really control how your shots look. Take a look at how to set Manual Mode below.</p>    <div class="help_steps">
            <ul>
                <li class="current"><a href="#"><p><strong>Manual (M)</strong>: If you want control over depth of field and the way movement is captured use this mode. You set the Shutter speed, Aperture and ISO. Don't forget to use the Exposure meter to check your exposure.<img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/play/help/manual_mode_1.jpg" alt="" width="466" height="262" /></p></a></li>
                <li>
                    <a href="#">
                        <p><strong>Shutter Priority Mode (Tv)</strong>: If the priority of your shot is to either show or freeze movement of your subject use this mode. You set the shutter speed and the camera can determine the Aperture and ISO needed for a good exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/Tv_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p><strong>Aperture Priority (Av)</strong>: If the priority of your shot is to either blur the background behind your subject or keep everything sharp from foreground to background use this mode. You set the Aperture and the camera can determine a Shutter speed and the ISO needed to get a good exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/Av_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="help_popup_bottom"></div>
</div>

<div id="help_shutter_priority_mode" class="help_popup help_popup_wide">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" alt="Close" /></a>
        <h2>Shutter Priority</h2>
        <p>While Automatic modes get you beautiful results these three Creative Zone modes allow you to really control how your shots look. Take a look at how to set Shutter Priority mode below.</p>    <div class="help_steps">
            <ul>
                <li class="current">
                    <a href="#">
                        <p><strong>Shutter Priority Mode (Tv)</strong>: If the priority of your shot is to either show or freeze movement of your subject use this mode. You set the shutter speed and the camera can determine the Aperture and ISO needed for a good exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/Tv_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p><strong>Manual (M)</strong>: If you want control over depth of field and the way movement is captured use this mode. You set the Shutter speed, Aperture and ISO. Don't forget to use the Exposure meter to check your exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/manual_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p><strong>Aperture Priority (Av)</strong>: If the priority of your shot is to either blur the background behind your subject or keep everything sharp from foreground to background use this mode. You set the Aperture and the camera can determine a Shutter speed and the ISO needed to get a good exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/Av_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="help_popup_bottom"></div>
</div>

<div id="help_aperture_priority_mode" class="help_popup help_popup_wide">
    <div class="help_popup_top"></div>
    <div class="help_popup_content">
        <a href="#" class="btn_close"><img src="../Content/img/play/btn_gallery_close.png" alt="Close" /></a>
        <h2>Aperture Priority</h2>
        <p>While Canon's Automatic modes get you beautiful results these three Creative Zone modes allow you to really control how your shots look. Take a look at how to set Aperture Priority Mode below.</p>
        <p>&nbsp;</p>    <div class="help_steps">
            <ul>
                <li class="current">
                    <a href="#">
                        <p><strong>Aperture Priority (Av)</strong>: If the priority of your shot is to either blur the background behind your subject or keep everything sharp from foreground to background use this mode. You set the Aperture and the camera can determine a Shutter speed and the ISO needed to get a good exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/Av_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p><strong>Manual (M)</strong>: If you want control over depth of field and the way movement is captured use this mode. You set the Shutter speed, Aperture and ISO. Don't forget to use the Exposure meter to check your exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/manual_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p><strong>Shutter Priority Mode (Tv)</strong>: If the priority of your shot is to either show or freeze movement of your subject use this mode. You set the shutter speed and the camera can determine the Aperture and ISO needed for a good exposure.</p>
                        <p><img src="http://core.canon.snappysmurf.ca/content/ca.snappysmurf.canon/simulator/learn/Tv_mode_1.jpg" alt="" width="466" height="262" /></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="help_popup_bottom"></div>
</div>
<div id="popup_overlay"></div>
