<div id="simulator_side">
    <div id="sim_side_intro" class="sim_side_text">
        <h2>FINDING CORRECT EXPOSURE</h2>
        <p>Getting a good exposure is a balancing act between Aperture, Shutter Speed and ISO. If you change the value of one, you might need to adjust the others to capture the right amount of light.</p>
    </div>
    <div id="sim_side_aperture" class="sim_side_text">
        <h2>Aperture</h2>
        <p>Blur the foreground and background around the toy plane (shallow depth of field) with a low f-stop number; or keep the photo sharp from foreground to background (wide depth of field) with a high f-stop number.</p>
    </div>
    <div id="sim_side_iso" class="sim_side_text">
        <h2>ISO</h2>
        <p>Try to use the lowest ISO possible, but if the effect you want ends up under exposured (dark) try increasing the ISO. If the effect you want ends up over exposed (bright) try decreasing the ISO. Remember a high ISO will cause grainyness in the image.</p>
    </div>
    <div id="sim_side_shutter" class="sim_side_text">
        <h2>Shutter</h2>
        <p>Open the Shutter for just a thousandth of a second to freeze the fast moving plane propeller, or show the movement of the propellor with a slower shutter speed like 1 second.</p>
    </div>
    <div id="side_sliders">
        <div id="slider_depth" class="slider_content">
            <div class="slider_container">
                <div class="slider"></div>
            </div>
            <h2>Depth of Field <span></span></h2>
        </div>
        <div id="slider_motion" class="slider_content">
            <div class="slider_container">
                <div class="slider"></div>
            </div>
            <h2>Motion <span></span></h2>
        </div>
        <div id="slider_noise" class="slider_content">
            <div class="slider_container">
                <div class="slider"></div>
            </div>
            <h2>Digital Noise <span></span></h2>
        </div>
    </div>
</div>
