@model IEnumerable<PhotoSchool.ViewModels.Glosary.WordsViewModel>

<div class="wrap" id="glosary">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">                   
                    @foreach (var word in Model)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @word.Name
                                </h3>
                            </div>
                            <div class="panel-body">
                                @word.Description
                            </div>
                        </div>
                    }
                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        <a class="btn send_btn" href="@Url.Action("AllWords", new { id = i })">@i</a>
                    }
                    <br />
                    <br />
                </div>
             </div>
        </section>
    </div>   
</div>
<div class="wrap planning">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <span class="img_icon icon1"></span>
                    <span class="link_title">I want to learn</span>
                    Learn more about your camera's settings and and how simple adjustments create beautiful photo effects!
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <span class="img_icon icon2"></span>
                    <span class="link_title">I want to try</span>
                    Adjust camera settings, take the shot and get feedback.
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <span class="img_icon icon3"></span>
                    <span class="link_title">I want to win</span>
                    Test yourself as we challenge you to prove what you have learnt and take part in our contest!
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <span class="img_icon icon4"></span>
                    <span class="link_title">I want to join</span>
                    Join our forum community to share your experience.
                </a>
            </div>
        </div>
    </div>
</div>